
  #avatar{
    width: 35px;
    height:35px;
    border-radius: 100px;
    overflow:hidden;
    margin-right:8px;
    margin-top:14px
}
#center{
  margin-top:18px
}
#button{
  margin-left:2% ;
  width:110%;
  height:85%
}

.img-thumbnail:hover{
  
  transition-duration:2s;
  border-radius:50%
}
#spin{
  color:black
}
.card{
    border-radius:10px
  }
  .img{
    width:90px;
     height:90px
  }


 