<div class="container">

  <br><br><br>
  <div class="l card mat-elevation-z8">
    <br>
    <div class="card-title  mat-display-1">

      <h1 class="text-center text-dark">{{title}}</h1>
    </div>
    <mat-divider></mat-divider>
    <br><br>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-md-12">

      <mat-form-field class="col-sm-6">
        <input matInput type="email" placeholder="Email:" name="email" [(ngModel)]="user.email" required>

        <mat-icon matSuffix class="md-light">alternate_email</mat-icon>
        <mat-hint>Your email is required</mat-hint>
      </mat-form-field>
      <mat-form-field class="col-sm-6">
        <input matInput type="password" placeholder="password:" name="password" [(ngModel)]="user.password" required>

        <mat-icon matSuffix class="md-light">lock_open</mat-icon>
        <mat-hint> Your password is required</mat-hint>
      </mat-form-field>
      <br><br><br><br>

      <mat-divider></mat-divider>
      <br> <br>
      <div class=" text-center">
        <button matTooltip="Enter to pet's world" matTooltipPosition="above" type="submit" mat-raised-button
          class="border border-dark mat-elevation-z20 btn btn-light btn-lg" color="silver"
          [disabled]="!loginForm.valid"><i class="material-icons">
            input
          </i> </button>
      </div>
      <br>
    </form>
    <br><br>
    <div class=" card-footer text-center">
      <br>
      <h5>Don't have an account yet? please go to <a routerLink="/register">register</a> page</h5>
      <br>
    </div>
  </div>

</div>