.header{
margin-left:3%;
}#avatar{
  width:70%;
    border-radius: 10px;
    overflow:hidden;
    margin-right:8px;
    margin-top:3px;
    align-items:center
}
.form-control{
    float:left;
}
#imaging,#emoticons{
    cursor:pointer;
    margin-top:6px;
    margin-right:8px 

}
.color-dark{
        margin-left:20px;
  
}

.img-thumbnail-bottom{
    width: 35px;
    height:35px;
    border-radius: 100px;
    overflow:hidden;
      margin-left:1px;
    margin-top:3px  
}
.pubsend{
    margin-left:5px
}
.new{
    margin-left:2px
}
.img-thumbnail{
        margin-bottom:8px;

    border-radius: 10px;
    overflow:hidden;
    margin-left:8px;
    margin-top:23px 
}
#pub{
        border-radius:18px

}

.card{
    border-radius:10px
  }.jumbotron{
    border-radius:10px
  }
  .floating {
    position: fixed!important;
    bottom: 0px !important;
    right: 0px !important;
    margin: .200rem !important;
    width:1% !important
}
 .floating1 {
    position: fixed!important;
    bottom: 60px!important;
    right: 0px!important;
    margin: .200rem!important;
    width:1%!important
}

 .floating2 {
    position: fixed!important;
    bottom: 120px!important;
    right: 0px!important;
    margin: .200rem!important;
    width:1%!important
}
 .floating3 {
    position: fixed!important;
    bottom: 180px!important;
    right: 0px!important;
    margin: .200rem!important;
    width:1%
}
.icon_help {
    margin-top: 3px !important;
    
}

.mat-fab {
    width: 30px!important;
    height: 30px!important;
}


@media (max-width: 800px) {
    .popup1 {
        display: block!important;
    }

}

@media (min-width: 800px) {
    .popup1 {
        display: none!important;
    }

}
.danger{
  background: #b71c1c!important;
}
 