<br><br>
<div class=" container">
  <div class="card text-center mat-elevation-z20">

    <div class="jumbotron text-center ">

      <div class="side">
        <app-sidebar></app-sidebar>

      </div>
      <div class="row">

        <div class="col-sm-6">

        </div>
        <div class="card-body ">
          <div class="row">

            <div class="col-sm-6  text-left">
              <h4><b>Type:</b> {{user.animal}}</h4>

            </div>
            <hr class="my-4">
            <div class="col-sm-6 text-left">
              <h4><b>Race:</b> {{user.race}}</h4>

            </div>
          </div>

          <hr class="my-4">
          <div class="row">

            <div class="col-sm-6 text-left">
              <h4><b>Name:</b> {{user.petName}}</h4>

            </div>

            <hr class="my-4">


            <div class="col-sm-6 text-left">
              <h4><b>Age:</b> {{user.age}}</h4>

            </div>
          </div>
          <hr class="my-4">
          <div class="row">

            <div class="col-sm-6 text-left">
              <h4><b>sex:</b> {{user.sex}}</h4>

            </div>

            <hr class="my-4">


            <div class="col-sm-6 text-left">
              <h4><b>Allergies:</b> {{user.allergies}}</h4>

            </div>
          </div>
          <hr class="my-4">
          <div class="row">

            <div class="col-sm-6 text-left">
              <h4><b>Food:</b> {{user.meals}}</h4>

            </div>

            <hr class="my-4">


            <div class="col-sm-6 text-left">
              <h4><b>Address:</b> {{user.address}}</h4>

            </div>
          </div>
          <hr class="my-4">
          <div class="row">

            <div class="col-sm-6 text-left">
              <h4><b>Phone:</b> {{user.mobile}}</h4>

            </div>




            <div class="col-sm-6 text-left">

              <h4><b>Status:</b> {{user.status}}</h4>
            </div>
            <hr class="my-4">

          </div>
          <hr class="my-4">



          <div class="row">

            <div class="col-sm-12 text text-center">
              <h4><b>Comments:</b> {{user.comments}}</h4>

            </div>
          </div>



        </div>



        <hr class="my-4">

        <div class="container text-center  text-dark offset-4">
          <div class="row ">
            <div class="col-1">
              <a href="https://www.facebook.com/Sunny-Hostals-261669591256712/"><i
                  class="fab fa-facebook-f  text-dark"></i></a>
            </div>
            <div class="col-1">

              <a href="https://www.instagram.com/misael_jr76/"><i class="fab fa-instagram  text-dark"
                  aria-hidden="true"></i>
              </a>
            </div>
            <div class="col-1">

              <a href="https://twitter.com/Sunnyhostals1"><i class="fab fa-twitter   text-dark" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col-1">

              <a href="https://www.linkedin.com/in/misael-jimenez-345b11172/"><i class="fab fa-linkedin-in  text-dark "
                  aria-hidden="true"></i>
              </a>
            </div>


          </div>



        </div>


        <div class="nav-item text-right ">
          <hr class="my-4">
          <a class="nav-link text-dark" routerLink="/about">Learn more</a>
        </div>
        <br>
        <br>
      </div>

    </div>
  </div>
</div>