<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="card publications text-center mat-elevation-z20">
        <cdk-virtual-scroll-viewport style="height: 1000px" itemSize="5" *ngIf="spinner == 'true'">


          <div *cdkVirtualFor="let pub of totalPub, let i =index">

            <div class="card-header text-left">

              <div class="row">
                <div class="col ">
                  <img class=" img border border-dark " id="avatar" src="{{ url + 'get-image-user/' + pub.user.image }}"
                    *ngIf="pub.user.image" />
                  <i> {{pub.user.petName }} </i> | <i> {{(pub.created_at| amFromUnix)| amTimeAgo }} </i> 
                  <i class="pull-right">
                    <button id="reload" class="btn btn-transparent text-right" (click)="reload($event)"><i
                        class="material-icons">
                        refresh
                      </i></button>
                  </i>
                </div>
                <div class="">
                  <i class="material-icons text-right" id="more" (click)="reload($event)">
                    more_vert
                  </i>
                </div>
              </div>

            </div>
            <div class=" card-body text-left col-lg-12">
              <h4 >{{pub.text | summary}}</h4>
              <br>

              <button class="btn btn-light"(click)="descambiarCarro(pub._id)">view mas</button>
              <mat-divider></mat-divider>
              <br>
              <div class="text-center col-lg-12">
                <img class=" img-thumbnail text-center col-lg-12" src="{{url + 'get-image-pub/' + pub.file}}"
                  *ngIf="identity && identity.image"></div>
              <br>
              <div class="row text-center">
              <div class="col-4">
                  <span ><b>Likes : </b> </span> <span class="badge badge-secondary"
                  >{{likesCount}}</span>
              </div>
              <div class="col-8">
                  <span><b>Comments : </b> </span> <span class="badge badge-secondary"
                  ></span>
                </div>
                </div>
          
           
<br>
              <mat-divider></mat-divider>
              <br>
              <div class="row text-center">
                <div class="col-sm-6">

                    <a matTooltip="Like this user"  matTooltipPosition="above" id="button"
                    class="like"
                    (click)="LikePublication(pub._id)">
                    <i *ngIf="!isActive"class="material-icons text-dark offset-1">
                        favorite
                    </i>
                    <i *ngIf="isActive"class="material-icons text-dark offset-1">
                        favorite_border
                    </i>

                  </a>
                </div>
             
                <div class="col-sm-6">
                  <i class="material-icons">
                    forum
                  </i>
                </div>

              </div>

              <br>
              <mat-divider></mat-divider>
              <br>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>

      </div>
    </div>
    <div class="card sidebar col-sm-7 text-center mat-elevation-z20" *ngIf="spinner == 'true'">


      <app-sidebar class=" sidebar1 col-sm-12 "></app-sidebar>


    </div>
  </div>
  <div *ngIf="spinner == 'false'">
    <div class=" text-center ">

      <mat-spinner color="dark" class="spinner" [diameter]="60"></mat-spinner>
    </div>

    <!-- CARD USERS -->

  </div>
</div>