.card{
    margin-top: 15%;
    border-radius:10px
  }.jumbotron{
    border-bottom-left-radius:30px
  }
  .form-control{
          border-radius:15px

  }
  .color-dark,.upload{
      margin-left:25px
  }
  .publications{
      margin-top:200px
  }
 
  .floating {
          border-radius:100px;
    position: fixed;
    bottom: 250px;
    right: 0px;
    margin: .200rem;
    width:1%
}
#avatar{
    width: 35px;
    height:35px;
    border-radius: 100px;
    overflow:hidden;
    margin-bottom:24px
    
}
.virtual{
}
.sidebar{
  margin-top:20px
}
.sidebar1{
  margin-left:120px;
    margin-top:90px

}

.publications{
    margin-top:40px
}
.text-grey{
    margin-left: 60px;
}
.text-dark{
    margin-left: 60px;
}
  #avatar{
    width: 35px;
    height:35px;
    border-radius: 100px;
    overflow:hidden;
    margin-right:8px;
    margin-top:24px
}
#more{
    cursor:pointer;
    margin-right: 5px;
    margin-top:20px
}

 .floating1 {
    position: fixed;
    bottom: 80px;
    right: 0px;
    margin: .200rem;
    width:1%
}

 .floating2 {
    position: fixed;
    bottom: 120px;
    right: 0px;
    margin: .200rem;
    width:1%
}
 .floating3 {
    position: fixed;
    bottom: 180px;
    right: 0px;
    margin: .200rem;
    width:1%
}
.icon_help {
    margin-top: 3px !important;
    
}


.mat-fab {
    width: 30px;
    height: 30px;
}


@media (max-width: 800px) {
    .popup1 {
        display: block;
    }

}

@media (min-width: 800px) {
    .popup1 {
        display: none;
    }

}  .upload{
    border-radius:10px
  }
 